.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-bottom: 1px solid var(--shadow-color);
}

.logo {
    margin-left: 2rem;
    color: var(--main-color);
    font-weight: 500;
    font-size: 19px;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    margin: 0 1rem ;
}

.basketWrapper {
    width: 25%;
    display: flex;
    justify-content: end;
}