.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    box-shadow: 1px 1px 6px var(--shadow-color);
    padding: 1px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 130px;
}

.about {
    width: 90%;
}

.bold {
    font-weight: 500;
    font-size: 20px;
}

.mute {
    color: var(--font-main-color);
    font-size: 18px;
    font-weight: 300;
}