.root {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: start;
    align-items: center;
    border-radius: 16px;
    box-shadow: 1px 1px 6px var(--shadow-color);
    box-sizing: border-box;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputBlock {
    display: flex;
    width: 100%;
}