.root {
    width: 25%;
    display: flex;
    justify-content: end;
}

.link {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    margin: 0 1rem ;
}