.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 13px 13px;
    backdrop-filter: blur(4px);
}

.menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.option {
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 5px 15px;
}

.option:hover {
    color: var(--accent-color);
}

.disabled {
    color: var(--font-mute-color);
    padding: 0 15px;
}