.root {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.85);
    border-radius:0 0 13px 13px;
}

.option {
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.option:hover {
    color: var(--accent-color);
}