.button {
    background: linear-gradient(92.68deg, var(--accent-color) -2.23%, var(--accent-color-gradient) 102.98%);
    border-radius: 14px;
    border: none;
}

.startButton {
    height: 40px;
    width: 100%;
}

.optionButton {
    height: 100%;
    width: 25%;
}

.wrapper {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}