.startButton {
    height: 40px;
    width: 100%;
}

.optionButton {
    height: 100%;
    width: 25%;
}

.wrapper {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}