.root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10rem;
}

.spinner {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 100%;
    animation: spin infinite 0.8s ease-in-out;
    background-image: conic-gradient(from 0deg at 50% 50%, var(--loader-main-color) 17%, var(--loader-mute-color) 17%);
    box-shadow: 0 0 0 3px var(--loader-main-color) inset;
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
